
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&display=swap");
nav.stroke ul li ,
nav.fill ul li  {
  position: relative;
  font-weight: 600 !important;
}
nav{
  backdrop-filter: blur(25px);
  background-image: linear-gradient(to right ,rgb(139, 211, 255,0.4),rgb(175, 207, 253,0.4));
}
h1,a,p,h2,h3,h4,h5,h6,li{
  text-decoration: none;
  font-family:Ubuntu, sans-serif;
  color: #0c62aa!important;
  font-weight: 700!important;

}
li{
  list-style: none;
}
h1 {
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-weight: 900!important;
  color: #0c62aa !important;
}

body{
  background-color: rgb(225, 254, 255);
}

nav.stroke :after {
  position: absolute;
  bottom: 0;
  font-weight: 600!important;
  left: 0;
  border-radius: 25px;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #0c62aa;
  height: 4px;
  opacity: 1;
}
.pri{
  border-bottom: 2px solid #0c62aa;
}

nav.stroke ul li:hover:after {
  width: 100%;
  transition: all ease-in-out 0.4s;
}
.home_top_content{
  height:80vh!important;
  color:#0c62aa!important;
}
.home_top::before {
  content: "";
  /* background-image: linear-gradient(rgba(162, 159, 159, 0.1),rgba(111, 110, 110, 0.05)) , url("../public/background2.jpg"); */
  background-image: linear-gradient(rgba(162, 159, 159, 0.1),rgba(111, 110, 110, 0.05)) ,  url("https://img.freepik.com/free-vector/blue-curve-background_53876-113112.jpg?w=2000");
  
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  right: 0px;
  left: 0px;
  height: 80vh;
  z-index:-3;
  border-end-end-radius:35% ;
}
.main {
  background-color: #c5f6fa;
  border-radius: 60% 40% 30% 30%;
}
.section_title{
  background-color: #c5f6fa;
  border-radius: 60% 40% 30% 30%;
  
}
.hell{
  background-color: #c5f6fa;
  border-radius: 25px;

}
.home_button{
  border-radius: 35px !important;
  border: 2px solid #0c62aa;
  font-weight: bold;
  color: #0c62aa!important;
}
.home_button:hover{
  transform: scale(1.2);
  transition: all 0.2s ease-out;
  border-radius: 35px !important;
  background-color: #0c62aa!important;
  color: rgb(255, 255, 255)!important;
  
}
.footer-32892{
  background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVCLWEnb5RzmjyOBwpzhYYmAEkeiCLzFZsxA&usqp=CAU");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  position: absolute;
  right: 0px;
  left: 0px;
  z-index:-3;
  border-top-right-radius: 35%;
}
.uphill{
  color: rgb(255, 183, 0);
}
.footer_buttons{
  border: 2px solid #0c62aa;
}
.footer_buttons:hover{
  background-color: #0c62aa;
}
.footer_buttons i:hover{
  color: white;
}
.uphill:hover{
  color: white;
}
.footer_buttons{
  border-radius: 55% !important;
}

/* About Page */
.about-heading {
  border-bottom: 4px solid #0c62aa;
  width: fit-content;
  text-align: center !important;
  margin: auto;
  font-weight: bolder;
}